<section id="services-section">
<div class="container mt-7 pt-5" >
    <div class="row">
      
       <h2 class="text-center text-white mt-3 fw-bold fs-1">
       My <span style="color: aqua;">Servives</span>
       </h2>
      <div class="col-md-4 mt-5 ">
        <div class="card ">
          <div class="card-body "  style=" background-color: #1f383d;">
            <i class="fa-solid fa-code fs-2 mb-3 text-info"></i>
            <h3 class="card-title text-white">Frontend Development</h3>
            <p class="card-text text-white fs-13">We specialize in creating visually stunning and highly responsive websites that provide a seamless user experience across all devices. Our expertise in HTML5, CSS3, JavaScript, and modern frameworks like Angular ensures that your website is not only beautiful but also fast and accessible.</p>
              <button class="btn-1 rounded-pill mt-3 ">
                Read more
              </button>
         
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mt-5">
        <div class="card ">
          <div class="card-body" style="background-color: #1f383d">
            <i class="fa-solid fa-display fs-2 mb-3 text-info"></i>
            <h3 class="card-title text-white ">Desktop Applications</h3>
            <p class="card-text text-white fs-13">We specialize in creating desktop applications that offer exceptional performance and a rich user experience.<br>  Whether you need a standalone app or a suite of tools, we ensure that your software is intuitive, reliable, and designed to deliver results. </p>
              <button class="btn-1 rounded-pill mt-3">
                Read more
              </button>
          
          </div>
        </div>
      </div>
  
 
      <div class="col-md-4 mt-5">
        <div class="card">
          <div class="card-body" style="background-color: #1f383d">
            <i class="fa-regular fa-mobile fs-2 mb-3 text-info"></i>
            <h3 class="card-title text-white">Mobile Applications </h3>
            <p class="card-text text-white fw-lighter">
              Our mobile applications are designed with the user in mind, combining sleek design with robust functionality. From concept to deployment, we focus on creating apps that stand out in the crowded marketplace, offering performance, security, and a captivating user experience. </p>
              <button class="btn-1 rounded-pill mt-3 ">
                Read more
              </button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



