<section id="skills-section">
<div class="container mt-8">
    <div class="row">
      <div class="col">
          <h2 class="text-center text-white mb-5 fw-bold">
             My skills
          </h2>
      </div>
    </div>
  </div>
  <div class="container mt-5 px-5">
    <div class="row">
      <div class="col-md-5 col-lg-5 py-2 ms-md-4  border border-info rounded">
        
        <i class="fa-brands fa-html5 fs-3 text-danger"></i>
        <div class="progress-bar-animated m-0">
          <div class="progress-bar" role="progressbar" style="width: 90%; height: 18px; background: rgb(9, 241, 164);" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <br>
       
        <i class="fa-brands fa-css3 fs-3 text-info"></i>
        <div class="progress-bar-animated m-0">
          <div class="progress-bar" role="progressbar" style="width: 85%; height: 18px; background: rgb(9, 241, 164);" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
        </div>
        <br>
        <i class="fa-brands fa-js fs-3 text-white"></i>
        <div class="progress-bar-animated m-0">
          <div class="progress-bar" role="progressbar" style="width: 50%; height: 18px; background: rgb(9, 241, 164);;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
        <br>
      </div>
      <div class="col-md-5 col-lg-5 ms-md-4 py-2 border border-info rounded">
        <i class="fa-brands fa-angular fs-3 text-danger"></i>
        <div class="progress-bar-animated m-0">
          <div class="progress-bar" role="progressbar" style="width: 40%; height: 18px; background: hsl(160, 93%, 49%);" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
        </div>
        <br>
        <i class="fa-brands fa-bootstrap fs-3 text-white"></i>
        <div class="progress-bar-animated m-0">
          <div class="progress-bar" role="progressbar" style="width: 80%; height: 18px; background: rgb(9, 241, 164);" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <br>
        <img class="" src="assets/ts.png" alt="" height="30px">
        <div class="progress-bar-animated m-0">
          <div class="progress-bar" role="progressbar" style="width: 50%; height: 18px; background: rgb(9, 241, 164);" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
        </div>
      </div>
    </div>
  </div>
  </section>