
.progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite, fill-progress 2s forwards;
  }
  
  @keyframes fill-progress {
    from {
      width: 0;
      
    }
    to {
      width: 60%;
      color: rgb(245, 245, 245);
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
    }
  }
    .progress-bar-animated {
      animation: progress-bar-stripes 1s linear infinite, fill-progress 2s forwards;
    }
    
  @keyframes fill-progress {
    from {
      width: 0;
      
    }
    to {
      width: 80%;
      color: rgb(5, 5, 5);
      background-color: rgb(21, 106, 109);
      border-radius: 10px;
    }
  }

  
.progress{
  height: 10px;
  margin-top: 30px;
}
.mt-8{
  margin-top: 9rem;
}
