<section id="home-section">
<div class="container pt-5 " >
    <div class="row text-center text-lg-start mt-6">
      <div class="col-lg-5 col-md-6 mb-4 mb-lg-0 ">
        <a href="home" class="d-none">home</a>
        <h4 class="text-white">Hi, it's <span style="color: aqua;">me</span></h4>
        <h2><span style="color: aqua;"> Haris Khan</span></h2>
        <ngx-typed-js [strings]="['Highly motivated Angular developer']"
        [loop]="true" 
        [shuffle]="false" 
        [typeSpeed]="60"
        [backSpeed]="55">
<h4 class="typing text-white"></h4>
</ngx-typed-js>
        
        <p class="text-white">
         i am highly motivated and ambitious Angular developer with 1 years of experience in  developing  and maintaing single web  page applications for the desktop and mobile screen.
        </p>
        <button class="btn rounded-pill text-white">Hire me</button>
      <button class="btn ms-3 text-white rounded-pill k">Lets connect</button>
      </div>
      <div class="col-lg-7 col-md-6 d-flex justify-content-center align-items-center mt-4">
        <img class="custom-img  mt-9" src="assets/canva photo.png" alt="Haris Khan">
      </div>
    </div>
  </div>
</section>

