 <section  id="about-section">
    <div class="container-fluid mt-6">
        <div class="row">
            <div class="col-lg-4 col-md-4 d-flex justify-content-center align-items-center mt-4">
                <img class="custom-image rounded-pill ms-3 mt-5" width="50%" src="assets/canva photo.png" alt="Haris Khan">
            </div>
        
            <div class="col-lg-6 col-md-6  d-flex flex-column justify-content-center pt-5 ">
              
                <h2 class="text-white text-center text-md-start mt-5 fw-bold">
                    About <span style="color: aqua;"> Me</span> 
                </h2>
                <h3 class="text-info text-center mb-3 text-md-start">
                    Angular Developer
                </h3>
                <p class="text-white fs-13 text-center mb-3 text-md-start">
                    I am a dedicated and passionate Angular developer with one years of professional experience in building dynamic and responsive web applications. My expertise lies in leveraging Angular's robust framework to create scalable and efficient single-page applications (SPAs) that deliver exceptional user experiences.
                    With a strong foundation in HTML, CSS, JavaScript, and TypeScript, I excel in designing and implementing complex features, ensuring code quality through best practices, and optimizing application performance. My hands-on experience with Angular's core concepts, including components, modules, services, and routing, allows me to develop maintainable and modular codebases.
                    I am proficient in using state management libraries like NgRx to manage application state predictably and efficiently. Additionally, my skills extend to integrating RESTful APIs, handling asynchronous 
                    data streams with RxJS, and employing dependency injection to enhance code reusability.
                    </p>
                    <div class="">
                      <button class="btn-m rounded-pill mt-3" style="width: 140px; height: 40px; background-color: aqua; border: none; color: white;">
                        More About me
                      </button>
                    </div>
                  
            </div>
        </div>
    </div>
    </section>